@model List<SoftwareEngineeringP1.Models.Flight>

<div class="table">
    <table class="table table-striped">
        <tr class="">
            <td><b>Name</b></td>
            <td><b>Departure</b></td>
            <td><b>Destination</b></td>
            <td><b>Departure Time</b></td>
            <td><b>Arrival Time</b></td>
            <td><b>Price</b></td>
            <td></td>
        </tr>
        @foreach (var flight in Model)
        {
            <tr class="" >
                <td>@flight.Name</td>
                <td>@flight.SourceAirport.City</td>
                <td>@flight.DestinationAirport.City</td>
                <td>@flight.DepartureTime</td>
                <td>@flight.ArrivalTime</td>
                <td>$@flight.Price</td>
                <td><button data-id="@flight.Id" class="btn btn-default flightClickAction">View</button></td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {

        // Click function for redirecting to the flight when a row is clicked on.
        $('.flightClickAction').on('click', function (event) {
            event.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                url: "/Home/GetFlightViewer",
                data: "flightId=" + id,
                method: "POST",
                success: function (result) {
                    $("#flightViewContainer").html(result);
                    $("#FlightViewer").modal("show");
                    rebindhandles();
                }
            });
        });
    });

    // AJAX handle for binding the on click function for editing flights. 
    // seperate function because dynamically loading content needs to be bound.
    var rebindhandles = function () {

        $(".editFlightBtn").off();
        $(".editFlightBtn").on('click', function (event) {
            event.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                url: "/Home/GetEditFlightViewer",
                data: "flightId=" + id,
                method: "POST",
                success: function (result) {
                    $("#modelBody").html(result).fadeIn("slow");
                    rebindhandles();
                }
            });
        });

        $("#saveFlight").off();
        $("#saveFlight").on('click', function () {
            //todo: magic
            var id = $(this).attr('data-id');
            $.ajax({
                url: "/Home/GetEditFlightViewer",
                data: "flightId=" + id,
                method: "POST",
                success: function (result) {
                    $("#modelBody").html(result).fadeIn("slow");
                    rebindhandles();
                }
            });
        });
    }

</script>