@model List<SoftwareEngineeringP1.Models.Flight>

<div class="table">
    <table>
        <tr>
            <td><b>Name</b></td>
            <td><b>Departure</b></td>
            <td><b>Destination</b></td>
            <td><b>Departure Time</b></td>
            <td><b>Arrival Time</b></td>
            <td><b>Price</b></td>
        </tr>
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.Name</td>
                <td>@flight.SourceAirport.City</td>
                <td>@flight.DestinationAirport.City</td>
                <td>@flight.DepartureTime</td>
                <td>@flight.ArrivalTime</td>
                <td>$@flight.Price</td>
            </tr>
        }
    </table>
</div>